.venv/
venv/
env/
ENV/
*.pyc
*.pyo
__pycache__/

database.db
*.sqlite3

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

*.log
*.tmp
*.swp
*.bak

instance/
*.egg-info/
dist/
build/

.DS_Store
Thumbs.db
